@import "tailwindcss";

@theme {
  --color-brand-primary: #00ff9d; /* Neon Green */
  --color-brand-secondary: #00e5ff; /* Cyan */
  --color-brand-dark: #030711; /* Deep Black */
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-brand-dark text-white font-sans antialiased;
}
